HELP.md
target/
bin/
effective-pom
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets
*.code-workspace


### Upgrade Plan ###
UPGRADE_PLAN.md
.github

Blog API - Complete Test Suite.postman_test_run.json
Blog_API_Dev_Environment.postman_environment.json
Blog_API_Postman_Collection.json
Blog_API_Prod_Environment.postman_environment.json
POSTMAN_FILES_README.md
POSTMAN_TESTING_GUIDE.md